ads-pos-OpenBills/ads-pos-openBills-Web/src/wsdl/localhost_8080/ads-pos-openBills-SOAP/ServerComiteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.SOAP.openBill.pos.ads/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.SOAP.openBill.pos.ads/">

<xs:element name="despesas" type="tns:despesas"/>

<xs:element name="despesasResponse" type="tns:despesasResponse"/>

<xs:element name="mediaDespesaComite" type="tns:mediaDespesaComite"/>

<xs:element name="mediaDespesaComiteResponse" type="tns:mediaDespesaComiteResponse"/>

<xs:element name="orgaosEstado" type="tns:orgaosEstado"/>

<xs:element name="orgaosEstadoResponse" type="tns:orgaosEstadoResponse"/>

<xs:complexType name="orgaosEstado">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orgaosEstadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:receitaComiteValor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receitaComiteValor">
<xs:sequence>
<xs:element name="nome_comite" type="xs:string" minOccurs="0"/>
<xs:element name="quantidade_orgaos" type="xs:double"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaDespesaComite">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaDespesaComiteResponse">
<xs:sequence>
<xs:element name="return" type="tns:mediaComite" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mediaComite">
<xs:sequence>
<xs:element name="media_despesa" type="xs:string" minOccurs="0"/>
<xs:element name="nome_estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesas">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesasResponse">
<xs:sequence>
<xs:element name="return" type="tns:receitaComiteValor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>