ads-pos-OpenBills/ads-pos-openBills-Web/src/wsdl/localhost_8080/ads-pos-openBills-SOAP/ServerCandidatoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.SOAP.openBill.pos.ads/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.SOAP.openBill.pos.ads/">

<xs:element name="despesas" type="tns:despesas"/>

<xs:element name="despesasResponse" type="tns:despesasResponse"/>

<xs:element name="quantidade" type="tns:quantidade"/>

<xs:element name="quantidadeResponse" type="tns:quantidadeResponse"/>

<xs:complexType name="despesas">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesasResponse">
<xs:sequence>
<xs:element name="return" type="tns:receitaComiteValor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receitaComiteValor">
<xs:sequence>
<xs:element name="nome_comite" type="xs:string" minOccurs="0"/>
<xs:element name="quantidade_orgaos" type="xs:double"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quantidade">
<xs:sequence>
<xs:element name="ano" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quantidadeResponse">
<xs:sequence>
<xs:element name="return" type="tns:quantidadeDespesaCandidato" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quantidadeDespesaCandidato">
<xs:sequence>
<xs:element name="cargo" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="quantidade" type="xs:double"/>
<xs:element name="sigla_partido" type="xs:string" minOccurs="0"/>
<xs:element name="soma" type="xs:double"/>
<xs:element name="valorDespesa" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>