ads-pos-OpenBills/ads-pos-openBills-Web/src/wsdl/localhost_8080/ads-pos-openBills-SOAP/ServerComiteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.SOAP.openBill.pos.ads/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.SOAP.openBill.pos.ads/" name="ServerComiteService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.SOAP.openBill.pos.ads/" schemaLocation="http://localhost:8080/ads-pos-openBills-SOAP/ServerComiteService?xsd=1"/>
</xsd:schema>
</types>
<message name="mediaDespesaComite">
<part name="parameters" element="tns:mediaDespesaComite"/>
</message>
<message name="mediaDespesaComiteResponse">
<part name="parameters" element="tns:mediaDespesaComiteResponse"/>
</message>
<message name="orgaosEstado">
<part name="parameters" element="tns:orgaosEstado"/>
</message>
<message name="orgaosEstadoResponse">
<part name="parameters" element="tns:orgaosEstadoResponse"/>
</message>
<message name="despesas">
<part name="parameters" element="tns:despesas"/>
</message>
<message name="despesasResponse">
<part name="parameters" element="tns:despesasResponse"/>
</message>
<portType name="ServerComite">
<operation name="mediaDespesaComite">
<input wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/mediaDespesaComiteRequest" message="tns:mediaDespesaComite"/>
<output wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/mediaDespesaComiteResponse" message="tns:mediaDespesaComiteResponse"/>
</operation>
<operation name="orgaosEstado">
<input wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/orgaosEstadoRequest" message="tns:orgaosEstado"/>
<output wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/orgaosEstadoResponse" message="tns:orgaosEstadoResponse"/>
</operation>
<operation name="despesas">
<input wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/despesasRequest" message="tns:despesas"/>
<output wsam:Action="http://server.SOAP.openBill.pos.ads/ServerComite/despesasResponse" message="tns:despesasResponse"/>
</operation>
</portType>
<binding name="ServerComitePortBinding" type="tns:ServerComite">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mediaDespesaComite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orgaosEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="despesas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerComiteService">
<port name="ServerComitePort" binding="tns:ServerComitePortBinding">
<soap:address location="http://localhost:8080/ads-pos-openBills-SOAP/ServerComiteService"/>
</port>
</service>
</definitions>